@charset "UTF-8";
body  
{  

    color : white;
    background-image: url('Resources/Background.png');
    background-repeat:no-repeat;
    background-attachment:fixed;  
    background-size: cover;  
    font-family: 'Arial;
   
}  
a{
	color : white;
}
td{
padding : 10px;

}
.LoginTable{
  margin-top : 100px;
  margin-left: 100px;
}
.ResgitrationTable td{
	padding: 3px;

}

input[type="text"], input[type="password"], input[type="number"], input[type="email"]
	{
	width: 90%;
}
