@charset "UTF-8";

body {
	color: white;
	background-image: url('Resources/Background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: ' Arial;
}

a {
	color: white;
}

.LoginTable {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.ResgitrationTable {
	margin-left: auto;
	margin-right: auto;
}

.ResgitrationTable td {
	padding: 3px;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], select
	{
	width: 95%;
	padding: 3px;
}


.errorMsg{
	color:red;

}

.welcomeLabel {
	aling: centre;
	font-size: 35px;
	font-weight: bold;
}

.title {
	font-family: sans-serif;
	color: #dc2d5e;
	text-align: center;
}

.tabContainer {
	width: 100%;
	height: 350px;
}

.tabContainer .buttonContainer {
	height: 15%;
}

.tabContainer .buttonContainer button {
	width: 33.33%;
	height: 100%;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px;
	font-family: sans-serif;
	font-size: 18px;
	background-color: #ff8040;
}

.tabContainer .buttonContainer button:hover {
	background-color: #d7d4d4;
}

.tabContainer .tabPanel {
	align-content: center;
	height: 100%;
	background-color: gray;
	color: white;
	text-align: left;
	padding-top: 10px;
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 22px;
	display: none;
}