<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>EMS</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.velociter.ems.servlets.RegistrationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.velociter.ems.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WelcomeEmployee</servlet-name>
		<servlet-class>com.velociter.ems.servlets.WelcomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WelcomeEmployee1</servlet-name>
		<servlet-class>com.velociter.ems.servlets.WelcomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EducationServlet</servlet-name>
		<servlet-class>com.velociter.ems.servlets.EducationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>com.velociter.ems.servlets.UpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateAddress</servlet-name>
		<servlet-class>com.velociter.ems.servlets.UpdateAddServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateEducation</servlet-name>
		<servlet-class>com.velociter.ems.servlets.UpdateEduServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.velociter.ems.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportingEmpServlet</servlet-name>
		<servlet-class>com.velociter.ems.servlets.ReportingEmpServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OnlineShopping</servlet-name>
		<servlet-class>com.velociter.ems.servlets.OnlineShoppingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SocialMediaServlet</servlet-name>
		<servlet-class>com.velociter.ems.servlets.SocialMediaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MarriageRegistrationServlet</servlet-name>
		<servlet-class>com.velociter.ems.servlets.MarriageRegistrationServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>flightBookingServlet</servlet-name>
		<servlet-class>com.velociter.ems.servlets.flightBookingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomerRegistrationServlet</servlet-name>
		<servlet-class>com.velociter.ems.servlets.CustomerRegistrationServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SongServlet</servlet-name>
		<servlet-class>com.velociter.ems.servlets.SongDetailsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Animal</servlet-name>
		<servlet-class>com.velociter.ems.servlets.AnimalRegistrationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Food</servlet-name>
		<servlet-class>com.velociter.ems.servlets.DishServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Order</servlet-name>
		<servlet-class>com.velociter.ems.servlets.OrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Training</servlet-name>
		<servlet-class>com.velociter.ems.servlets.TrainingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/jsp/RegistrationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/jsp/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WelcomeEmployee</servlet-name>
		<url-pattern>/jsp/WelcomeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WelcomeEmployee1</servlet-name>
		<url-pattern>/WelcomeServlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EducationServlet</servlet-name>
		<url-pattern>/jsp/EducationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/jsp/UpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateAddress</servlet-name>
		<url-pattern>/jsp/UpdateAddServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateEducation</servlet-name>
		<url-pattern>/jsp/UpdateEducation1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/jsp/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportingEmpServlet</servlet-name>
		<url-pattern>/ReportingEmpServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SongServlet</servlet-name>
		<url-pattern>/jsp/SongDetailsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Animal</servlet-name>
		<url-pattern>/jsp/AnimalRegistrationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Food</servlet-name>
		<url-pattern>/jsp/DishServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Order</servlet-name>
		<url-pattern>/jsp/OrderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Training</servlet-name>
		<url-pattern>/jsp/TrainingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OnlineShopping</servlet-name>
		<url-pattern>/jsp/OnlineShoppingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SocialMediaServlet</servlet-name>
		<url-pattern>/jsp/SocialMediaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MarriageRegistrationServlet</servlet-name>
		<url-pattern>/jsp/MarriageRegistrationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>flightBookingServlet</servlet-name>
		<url-pattern>/jsp/flightBookingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerRegistrationServlet</servlet-name>
		<url-pattern>/jsp/CustomerRegistrationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MobileRechargeServlet</servlet-name>
		<servlet-class>com.velociter.ems.servlets.MobileRechargeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MobileRechargeServlet</servlet-name>
		<url-pattern>/jsp/MobileRechargeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DressServlet</servlet-name>
		<servlet-class>com.velociter.ems.servlets.DressServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DressServlet</servlet-name>
		<url-pattern>/jsp/DressServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ElectronicServlet</servlet-name>
		<servlet-class>com.velociter.ems.servlets.ElectronicServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ElectronicServlet</servlet-name>
		<url-pattern>/jsp/ElectronicServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MovieTicketServlet</servlet-name>
		<servlet-class>com.velociter.ems.servlets.MovieTicketServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MovieTicketServlet</servlet-name>
		<url-pattern>/jsp/MovieTicketServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StudentServlet</servlet-name>
		<servlet-class>com.velociter.ems.servlets.StudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentServlet</servlet-name>
		<url-pattern>/jsp/StudentServlet</url-pattern>
	</servlet-mapping>
</web-app>