<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>EMS</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.velociter.ems.servlets.RegistrationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.velociter.ems.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WelcomeEmployee</servlet-name>
		<servlet-class>com.velociter.ems.servlets.WelcomeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EducationServlet</servlet-name>
		<servlet-class>com.velociter.ems.servlets.EducationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.velociter.ems.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportingEmpServlet</servlet-name>
		<servlet-class>com.velociter.ems.servlets.ReportingEmpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/jsp/RegistrationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/jsp/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WelcomeEmployee</servlet-name>
		<url-pattern>/jsp/WelcomeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EducationServlet</servlet-name>
		<url-pattern>/jsp/EducationServlet</url-pattern>

	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/jsp/LogoutServlet</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ReportingEmpServlet</servlet-name>
		<url-pattern>/ReportingEmpServlet</url-pattern>
	</servlet-mapping>
</web-app>